.jumbotron {
    text-align: center;
    background-color: rgb(81, 81, 235);
}
body{
    background-image: url("https://images.app.goo.gl/9KzrRPDSKa87jh1o6");
    background-color:#f3e1ed;
}
#page-title{
   color: azure;
   font-size: 10em;
}
.lead{
    color: azure;
    font-size: 4em;
}
#render-articles{
    color: blue;
    background-color: #f3e1ed;
}
#saved-articles{
    color: blue;
    background-color: blanchedalmond;
}